    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Diary</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main>
        <h1>Board Game Diary</h1>
        <h2>New Game Entry:</h2>

        <form action="/addAGame" method="POST">
            <input type="text" placeholder="Game Name" name="gameName">
            <input type="number" placeholder="0-10" name="gameRating">
            <input type="number" placeholder="0-10" name="gamePlays">
            <input id="gameNotes" type="textarea" placeholder="your thoughts on game" name="gameNotes" wrap="hard">
            <input type="submit" id="newGameBtn">
        </form>
    </main>

    <ul class="gamelist">

        <% for(let i=0; i < items.length; i++) {%>
                <li class="games">
                    <span><strong><%= items[i].Name %></strong></span><br>
                    <span>Rating: <%= items[i].Rating %></span><br>
                    <span><%= items[i].Notes %></span><br>
                    <span><span class="numPlays"></span><%= items[i].Plays %></span> Plays </span><span class="increase">+</span><br>
                    <span class="delete">Delete</span>
                </li>
        <% } %>

    </ul>



    

    <script src='/js/main.js'></script>
</body>
</html>
