    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Diary</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Board Game Diary</h1>

    <main class="halfDisplay">
       
        <h2>New Game Entry:</h2>

        <form action="/addAGame" method="POST">
            <input type="text" placeholder="Game Name" name="gameName"><br>
            <input type="number" placeholder="Rating 0-10" name="gameRating"><br>
            <input type="number" placeholder="How many plays" name="gamePlays"><br>
            <input id="gameNotes" type="textarea" placeholder="your thoughts on game" name="gameNotes" wrap="hard"><br>
            <input type="submit" id="newGameBtn">
        </form><br><br>

        <form action="/searchAGame" method="GET">
            <label >Search</label>
            <input type="text" placeholder="Game you want to search" name="searchGame" id="searchText">
            <input type ="submit" id="searchBtn">
        </form>
    </main>

    <div class="halfDisplay">
        <ul class="gamelist">

            <% for(let i=0; i < items.length; i++) {%>
                    <li class="games">
                        <span><strong><%= items[i].Name %></strong></span><br>
                        <span>Rating: <%= items[i].Rating %></span><br>
                        <span><%= items[i].Notes %></span><br>
                        <span><%= items[i].Plays %></span><span class="increase">+</span><br>
                        <span class="delete">Delete</span>
                    </li>
            <% } %>

        </ul>
    </div>


    

    <script src='/js/main.js'></script>
</body>
</html>
